<!-- RequestTabs Component -->
<div class="tabs-container">
  <div class="tabs">
    <button class="tab active" data-tab="params" data-i18n="tabs.params">
      Parámetros
    </button>
    <button class="tab" data-tab="headers" data-i18n="tabs.headers">
      Headers
    </button>
    <button class="tab" data-tab="body" data-i18n="tabs.body">Body</button>
    <button class="tab" data-tab="auth" data-i18n="tabs.auth">
      Autenticación
    </button>
    <button class="tab" data-tab="testing" data-i18n="tabs.testing">Pruebas</button>
  </div>
</div>
